:root{
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;
    --border-radius: 12px;
    --font-color: #000000;
    --background-color: #F3DCD4;
    --highlight-color: #F2A68D;
}
body{
    font-family:'Gothic A1', sans-serif;
    font-weight: 300;
    background-color: var(--background-color);
    height:100%;
    padding:0 var(--spacing-3);
    margin:0 auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}
h1,h2,h3,h4{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    text-transform: uppercase;
}
.nav-center{
    display: flex;
    align-items: center;
    padding: var(--spacing-3) 0;
}
.link{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    margin-left: auto;


}
.link-item{
   text-decoration: none;
   margin: var(--spacing-1);
}
a{
    color: black;
}
.about-container{
    display: flex;
}
.portrait{
    width: 300px;
    border-radius: var(--border-radius);
}
.about-text{
    margin-right: var(--spacing-3);
}


